/* General layout */
body {
    background-color: #f9f9f9;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    height: 100% ;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

/* Navigation bar */
nav {
    margin-top: 0.5rem;
}

nav a.button-link,
nav form button {
    font-family: 'Merriweather', serif;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    margin-right: 0.5em;
    font-size: 1rem;
    cursor: pointer;
}

nav a.button-link:hover,
nav form button:hover {
    background-color: #005fa3;
}

/* Book cards */
.book-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

/* Dropdown */
.dropdown {
    width: 100%;
    max-width: 500px;
    height: 40px;
    margin-top: 0.5rem;
}

/* Alerts */
.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 95%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.warning {
    background-color: #fff3cd;
    color: #856404;
}
.list-input {
    width: 250px;
    padding: 6px;
    font-size: 14px;
}


.homepage-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}


.homepage-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/library.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(6px) brightness(0.8);
    z-index: 1;
}

.overlay-card {
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 3rem;
    color: white;
    text-align: center;
    top: 30vh;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}


.overlay-card h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.overlay-card p {
    font-size: 1.2rem;
    line-height: 1.5;
}
